body {
  margin: 0;
}

#wrapper {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 30px auto;
  grid-template-areas: 
    "topbar topbar topbar"
    "col1 col2 col3";
}

#topbar{
  grid-area: topbar;
}

#col1 {
  grid-area: col1;
}

#col2 {
  grid-area: col2;
}

#col3 {
  grid-area: col3;
}
